[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wtforms = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-cache = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.6"
